<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="css/blueimp-gallery.min.css">
    <title><%= title %></title>
    <style>
    body {
      font-family: "PingFang SC", "Microsoft Yahei", Arial, sans-serif;
      background: #222;
      color: #fff;
      text-align: center;
    }

    h1 {
      text-align: center;
    }

    #links {
      width: 100%;
      height: auto;
      margin: auto;
      text-align: center;
    }

    #links a img {
      width: 20%;
      border : 1px #fff solid;
    }

    #links a:last-child {
      text-align: left;
    }

    @media screen and (max-width: 768px) {
      #links a img {
        width: 30%;
      }
    }

    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <small>点击图片可看大图</small>
    <!-- 加入控制 -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>

    <!-- 加入内容 -->
    <div id="links">
      <% for(var i=0; i<photos.length; i++) {%>
        <a href="<%= photos[i].bigImage %>" title="<%= photos[i].title %>">
            <img src="<%= photos[i].thumbnail %>" alt="<%= photos[i].alt %>">
        </a>
      <% } %>
    </div>

    <script src="js/blueimp-gallery.min.js"></script>

    <!-- 加入每个内容的点击响应 -->
    <script>
      document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {index: link, event: event},
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
      };
    </script>
  </body>
</html>
