<!DOCTYPE HTML>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="css/lib/blueimp-gallery.min.css">
  <link rel="stylesheet" href="css/lib/animate.min.css">
  <link rel="stylesheet" href="css/style.css"><!-- 基本样式都在这里 -->
  <link rel="stylesheet" href="css/new.css"><!-- 新添加的样式都在这里 -->
  
  <title> <%= title %> </title>
</head>

<body>
  <img id="loading" src="img/loading.png" alt="loading">
  <% if(folderName == '20170610xyh'){%>
  <div id="pre">
    <div id="mask_a"  style="text-align:center;display:none">
      <img width="200px" style="margin-top:100px;" src="https://comp-file.aiyaopai.com/qrcode.png" alt="">
      <p style="margin-top:20px;color:#fff;">长按二维码查看微博</p>

      <p onclick="show()" style="margin-top:100px;color:#fff;">关闭</p>
    </div>
    <img width="100%" src="https://comp-file.aiyaopai.com/caijingbanner.jpg" alt="">
    <div class="content-wp">
      <p class="time"><img src="img/time@2x.png" style="width:20px;vertical-align:middle;margin-right:5px;" alt="">2017年6月10日</p>
      <p class="dest"><img src="img/addcopy 3@2x.png" style="width:20px;vertical-align:middle;margin-right:5px;" alt="">河南财经政法大学图书馆一楼报告厅</p>
      
      <h1 class="titles" style="margin-top:10px;">主办方</h1>
      <ul>
        <li>
          <div class="logo" onclick="show()" style="background-image:url('http://oqgadw5s0.bkt.clouddn.com/logo.png'); -webkit-box-shadow: 0px 4px 6px 0px rgba(66, 61, 53, 0.3);"></div>
        </li>
      </ul>

      <h1 class="titles" style="margin-top:10px;">活动详情</h1>
      <p style="font-size:13px; color:rgba(0,0,0,.54)">聚首财大，共叙同窗情/心系母校，同温师生谊。</p>

      <div class="lookButton row-all-center">
        <p class="lookButton-p" style="font-size:14px;color:rgba(0,0,0,.5)">上滑进入现场</p>
        <img src="img/up@2x.png" style="width:14px" class="triggle-icon">
      </div>
    </div>
  </div>

<% }%>










  <article id="body">
    <div style="width:0px; height:0px; overflow:hidden">
      <img id="share_img_url" src="<%= shareIcon %>" />
    </div>
    <header class="header" id="header">
    <h1><%= title %></h1>
    <span>Powered By YAOPAI <span id="height"></span></span>
  </header>
  <div class="mask" id="mask">
    <img src="/images/code.jpeg" width="200" height="200" alt="">
    <p>长按关注 YAOPAI</p>
    <a class="close" id="close">关闭</a>
  </div>
  <footer class="footer" id="footer">
    <a class="btn" href="http://u.liveapp.cn/1140781?sf=95D7D695-7799-97AB-03E1-102D9DE5AA9F&from=groupmessage&isappinstalled=0">更多服务</a>
    <a class="f-des" href="https://www.wenjuan.com/s/rqEbQjt/">
      <h1 class="ftitle">现场照片一秒直达</h1>
      <p class="des">照片经过压缩处理，请放心浏览下载</p>
    </a>
    <a class="btn" href="http://www.sobot.com/chat/h5/index.html?sysNum=29593b829dc6413399bc6a12fc806e64">在线客服</a>
  </footer>


    <!-- 加入控制 -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <aside class="msg-top">试试左滑，右滑查看图片</aside>
      <aside class="msg-bottom">长按可保存图片，右上角可转发朋友圈</aside>
      <a class="close">×</a>
      <!-- <a class="play-pause-text">自动播放</a> -->
      <!-- <ol class="indicator"></ol> -->
    </div>
    <!-- 加入内容 -->
    <div id="links">
      <% for(var i=0; i<photos.length; i++) {%>
        <a href="<%= photos[i].bigImage %>" title="<%= photos[i].timeFormat %>: <%= photos[i].title %> " style="<%= photos[i].fullWidth %>">
          <img class="lazy " data-original="<%= photos[i].thumbnail %>" alt="<%= photos[i].alt %>" />
          <% if(photos[i].description != ""){ %>
            <div>▲ <%= photos[i].description %></div>
          <% } %>
        </a>
      <% } %>
    </div>
  </article>






  
  <script src="js/vendor/jquery.js"></script>
  <!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
  <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <!--<script src="js/lib/jquery.wechat.share.js"></script>-->
  <script src="js/lib/blueimp-gallery.min.js"></script>
  <script src="js/lib/headroom.min.js"></script>
  <script src="js/vendor/jquery.lazyload.js"></script>
  <script src="js/control.js"></script><!-- 逻辑控制都在这里 -->
  <!--<script src="js/wechatShare.js"></script>--><!-- 微信分享逻辑 -->

  <script>
  function show(){
    if( $('#mask_a').css('display') == 'none'){
      $('#mask_a').css('display','block')
    }else{
      $('#mask_a').css('display','none')
    }
    
  }

  $(function(){

    var TITLE = document.title
    var IMG_SRC = document.getElementById('share_img_url').src
    var LINK = location.href

    $('#body').css("marginTop",$('#pre').height()-65);
    $('#header').css('display','none')
    $('#footer').css('display','none')
    $.ajax({
      url: 'https://wechatauth.aiyaopai.com/auth/jsapisignature',
      type : 'Get',
      success:function(data) {
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: data.AppId, // 必填，公众号的唯一标识
            timestamp: data.Timestamp, // 必填，生成签名的时间戳
            nonceStr: data.NonceString, // 必填，生成签名的随机串
            signature: data.Signature.toLowerCase(),// 必填，签名，见附录1
            jsApiList: [
                    'checkJsApi',
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage',
                    'onMenuShareQQ',
                    'onMenuShareWeibo'
                ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });

        wx.ready(function(){
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
            wx.onMenuShareTimeline({
                title: TITLE, // 分享标题
                link: LINK, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: IMG_SRC, // 分享图标
                success: function () { 
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () { 
                    // 用户取消分享后执行的回调函数
                }
            });

            wx.onMenuShareAppMessage({
                title: TITLE, // 分享标题
                desc: TITLE, // 分享描述
                link: LINK, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                imgUrl: IMG_SRC, // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () { 
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () { 
                    // 用户取消分享后执行的回调函数
                }
            });

        });
      },
    })
  })
    window.onscroll = function(){
      if($(document).scrollTop() < $('#pre').height() ){
        $('#header').css('display','none')
        $('#footer').css('display','none')
      }else{
        $('#header').css('display','block')
        $('#footer').css('display','flex')
      }
    }
  </script>
</body>
</html>
